$fontColor: #0091aa;
$colorHeading: #be4a14;
#content, #dumpcontent  // div with id: content, dumpcontent
{
    color: $fontColor;
}

#dumpcontent {
  margin-top: 100px;
}

h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

table tr th {
  padding: 0 20px 0 0;
}

table tr td {
  padding: 10px;
  border: 1px solid #e7e7e7;
}